<%= form_for @post, class: 'form-horizontal' do |f| %>
  
    <%= render 'homes/posts_form_fields', locals: {f: f} %>
    <%= f.hidden_field :group_id, value: @group.id %>

    <div class='col-lg-4 col-lg-offset-1 post-submit-button'>
      <br>
      <%= f.submit %>
    </div>
  </div>
<% end %>
