<h2> <%= @group.name.capitalize %> </h2>
  <%= link_to 'members', members_group_path %>
<div> <%= @group.description %> </div>
<br>
<% if @group.users.include? current_user %>
  <%= render 'create_post' %>
<% end %>
