<section class="edit-details pull-left">
	<article class="col-md-12 col-md-offset-4 edit-det-inr mt-15 pb-15 chng-pwd">
		<%= form_for @group, html: { class: 'form-horizontal'} do |f| %>
	  	<h2 class='col-md-offset-2'>Create</h2>
	  	<%= render 'form', {f: f} %>
		<% end %>
	</article>
</section>