<div class='dashboard-body'>
  <%= render 'groups/show_group_details' %>
  <%= group_join_link(@group) %>
  <%= render 'homes/show_post' %>
</div>

<div class='dashboard-sidebar'>

  <%= render 'homes/group' %>

</div>