<div class='dashboard-body'>
  <%= render 'groups/show_group_details' %>
  <% if group.creator != current_user %>
    <%= group_join_link(@group) %>
  <% end %>
  <%= render 'home/posts' %>
</div>

<div class='dashboard-sidebar'>

  <%= render 'home/group' %>

</div>