<div class='dashboard-body'>
  <%= render 'groups/show_group_details' %>
  <div class='join-link'>
    <%= group_join_link(@group) %>
  </div>
  <%= render 'shared/posts' %>
</div>

<div class='dashboard-sidebar'>

  <%= render 'shared/group' %>

</div>