<div class='dashboard-body'>
  <%= render 'groups/show_group_details' %>
  <%= group_join_link(@group) %>
  <%= render 'home/posts' %>
</div>

<div class='dashboard-sidebar'>

  <%= render 'home/group' %>

</div>