<% if user_signed_in? %>
  <!-- # fix- Ruby 2 syntax for hash -->
  <% if flash[:error] %>
    <div class="control-group">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% end %>
<%= link_to "Settings", '/settings/edit' %>