<div class='cointainer'>
  <div class='dashboard-body'>

    <div>

      <%= render 'home/create_post' %>
      <%= render 'home/posts' %>

    </div>

  </div>

  <div class='dashboard-sidebar'>

    <%= render 'home/group' %>

  </div>

</div>
