<div class='cointainer'>
  <div class='dashboard-body'>

    <div>

      <%= render 'homes/create_post' %>
      <%= render 'homes/show_post' %>

    </div>

  </div>

  <div class='dashboard-sidebar'>

    <%= render 'homes/group' %>

  </div>

</div>
