$(document).ready(function() {
  $("#user_user_id").select2({
    placeholder: "Search for a teen",
    minimumInputLength: 1,
    ajax: {
      url: "/users.json",
      dataType:'json',
      data: function (search) {
        return {
          term: search, // search term
          page_limit: 10,
        };
      },
      results: function (data) {
        var myResults = [];
        $.each(data, function (index, item) {
          myResults.push({
            'id': index,
            'text': item['name']
            // 'text': "<a href='#'>d</a>"
          });
        });
        return {
            results: myResults
        };
      }
    },
    dropdownCssClass: "bigdrop"
  });
});