.attachment-destroy-image{
  position: relative;
  bottom: 30px;
  left: 45px;
}

.remove-comment {
  background-image: url('/assets/delete.png');
  max-width: 32px;
  min-height: 27px;
  margin-left: 480px;
  margin-top: -25px;
}
.remove-attachment {
  background-image: url('/assets/delete.png');
  max-width: 32px;
  min-height: 27px;
  margin-left: 40px;
  margin-top: -30px;
}
.delete-comment {
  float: right;
  margin-top: -35px;
}
.comment-post {
  float: left;
}
.add-more-attachment {
  margin-left: 30px;
}
.comment-margin {
  margin: 5px 20px;
}