.navigation-bar-new{
  display: inline-block;
}

.profile-image-container{
  display: inline-block;
  border: 1px #8D8796 solid;
  padding: 3px !important;
}
.sidebar-width {
  width: 150px;
}

.group-width {
  width: 300px;
}

.sidebar-group {
  width: 15%;
  float: left;
}

.upload-logo {
  margin-right: 410px;
}

.post-image {
  margin: 0px 184px;
}

.more-link-color {
  color: #ececec;
}

.name-bold {
  font-size: 16px;
  font-style: bold;
}
.blue-color {
  background: linear-gradient(#8DB1EF, #3b5998);
  height: 54px;
}
.more-position {
  float: right;
  margin-right: 15px;
}
.user-name {
  float: right;
  margin: 20px 40px;
}
.search-header {
  height: 50px;
  border-top: 1px solid rgba(79, 170, 219, 1)
}
.search-input {
  margin-left: 80px;
  margin-top: 8px;
}
.navbar-position {
  margin-right: -150px;
  margin-top: -38px;
}
.flash-message {
  background-color: red;
}
.dashboard-body{
  width: 80%;
  float: right;
}
.dashboard-sidebar{
  float: left;
  margin-left: 50px;
}
.navbar-center {
  padding-top: 8px;
}
 /*--- my css ---*/
 .search-user{
  .select2-container{
    width: 100%;
    .select2-choice{
      background: #fff;
      .select2-drop-active{
        background: #fff;
      }
    }
  }
 }
.more-position{
  padding:5px 0 0;
  a:hover{
      background: #88ABE9;
      border-radius: 8px;
    }
  }