.attachment-type {
  float: left;
  font-size: 9px;
  width: 100%;
}
.user-posts {
  position: relative;
  left: 120px;
  width: 80%;
}
.edit-user {
  width: 40px;
  font-size: 13px;
  margin-top: -25px;
}
.shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}
.post-division {
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.join-link {
  margin: -60px 0px 0px 80px;
}
.delete-post {
  float: right;
}
.add-more-attachment {
  float: right !important;
  margin-right: 350px;
}
.add-margin {
  margin: 20px;
}
.name-bold {
  color: #337ab7;
  font-size: 22px;
  font-weight: bold;
}
