.user-posts {
  position: relative;
  left: 120px;
  width: 80%;
}
.edit-user {
  width: 40px;
  font-size: 13px;
  margin-top: -25px;
}
.post-margin {
  margin: 15px;
}

.post-submit-button {
  margin-top: -15px;
}
.shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}
.post-division {
  background-color: #FFF;
  border-bottom: 10px solid #FFF;
  display: table;
  width: 600px;
  margin-top: 15px;
}
.comment-box {
  background-color: #F6F7F8;
  margin: 25px 0px;
}
.join-link {
  margin: -60px 0px 0px 80px;
}
.delete-post {
  float: right;
}
.add-more-attachment {
  float: right !important;
  margin-right: 350px;
}
.add-margin {
  margin: 20px;
}