.vertical-center {
  margin-top: 10%;
}
.center-align td, .center-align th{
  text-align: center;
}
.side-bar {
  float: left;
  margin-left: -50px;
}
.table-width {
   width: 80%;
   margin: auto;
}
.row-height {
  height: 200px;
}
.column-width {
  display: table-cell;
  width: 200px;
}