<div class='cointainer'>
  <div class='dashboard-body'>

    <div>
      <%= render 'create_post' %>
    </div>

  </div>

  <div class='dashboard-sidebar'>

    <%= current_user.attachment ? image_tag(current_user.attachment.attachment.url) : 'no image' %>
    <%= current_user.name %>
    <%= render 'group_list' %>

  </div>

</div>
