<div class='cointainer'>
  <div class='dashboard-body'>
    <div>
      <%= render 'create_post' %>
      <%= render 'show_post' %>
    </div>
  </div>
  <div class='dashboard-sidebar'>
    <%= render 'group_list' %>
  </div>
</div>